body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
    position: relative;
}

.photo,
.photo img {
    min-width: 160px;
    max-width: 240px;
}

.photo a {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffffff;
	font-size: 20px;
	text-shadow: #000000 0px 0px 3px;
}